.main-box {
  display: flex;

  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-image: url('../../img/BorderDesign600.png');
  background-size: contain;
  background-repeat: no-repeat;
  /*background-position: center center;*/
}

.center-h {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 25px;
}

.info {
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
}

.resume {
  cursor: pointer;
}

.resume p {
  font-weight: bold;

}
